---
name: gallery
layout: default
---

<script src="/assets/js/imgur.js"></script>

<div class="modal" id='mediaModal'>
    <div class="modal-background modal-closer"></div>
    <div class="modal-content">
        <p class='image'>
        </p>
    </div>
    <button class="modal-close is-large modal-closer" aria-label="close"></button>
</div>


{% assign content = content | strip %}
{% if content != '' %}
    <section class='section'>
        {{ content }}
    </section>
{% endif %}


<div class='gallery columns is-multiline'>
    {% for items in page.gallery %}
        {% for item in items %}
            {% assign name = item[0] %}
            {% assign hash = item[1] %}
            {% if name == 'vimeo' %}
                <figure class="video column is-4">
                    <iframe src="//player.vimeo.com/video/{{ hash }}?title=0&amp;amp;byline=0&amp;amp;portrait=0&amp;amp;color=666666"
                            width="100%" height="100%" 
                            frameborder="0" scrolling="no"
                            allowfullscreen="true">
                    </iframe>
                </figure>
            {% elsif name == 'youtube' %}
                <figure class="image video column is-4">
                    <img src='https://img.youtube.com/vi/{{ hash }}/hqdefault.jpg'
                         data-youtube={{ hash }}>
                    <span><i class="fas fa-play-circle"></i></span>
                </figure>
            {% elsif name == 'imgur' %}
                <figure class='image is-128x128 column is-4' data-imgur={{ hash }}>
                    <img src='/assets/images/loading.gif'>
                </figure>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>

<script>
$('*[data-imgur]').each(async function() {
    var hash = $(this).data('imgur');
    var data = await imgurAlbumItems(hash) ;
    var items = data.items;
    $(this).replaceWith(items);
    $(".imgur a").click(function(event) {
        event.preventDefault();
        var link = $(this).attr('href');
        console.log(link);
        $("#mediaModal p").html($('<img>').attr('src', link));
        $("#mediaModal").toggleClass('is-active');
    })
});

$('*[data-youtube]').each(async function() {
    var hash = $(this).data('youtube');
    $(this).parent().click(function(event) {
        event.preventDefault();
        console.log(hash);
        $("#mediaModal p").html(`
            <div class='video-container'>
            <iframe src="https://www.youtube-nocookie.com/embed/${hash}?autoplay=1"
                       frameborder="0" allow="autoplay; encrypted-media"
                       width="640px" height="385px" allowfullscreen>
            </div>
        `);
        $("#mediaModal").toggleClass('is-active');
    })
});

$('.modal-closer').click(function() {
    $("#mediaModal").toggleClass('is-active');
})
</script>
